/*文字列表标题图片样式*/
.index-new img {
	height: 35px;
}
.index-new {
	margin-bottom: 5px;
}
/*文字列表标题图片样式结束*/

/*文字列表标题图片样式*/
.index-new img {
	height: 35px;
}
.index-new {
	margin-bottom: 5px;
}
/*文字列表标题图片样式结束*/





.file-format {
	padding: 0 20px;
	height: 38px;
	background: linear-gradient(224deg, rgba(255, 110, 144, .08), rgba(208, 147, 255, .08) 42%, rgba(105, 105, 255, .08) 100%, rgba(105, 105, 255, .08) 0);
	border-radius: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}


span.txt-file-format {
	font-size: 13px;
	font-weight: 700;
	color: #424866;
	line-height: 18px;
	margin-right: 17px;
}

i.icon_ai[data-v-2775696c], i.icon_ps[data-v-2775696c] {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
i.icon_ps[data-v-2775696c] {
	background: url(https://www.macgf.com/img/icon-ps.svg) no-repeat 50% / 100%;
}

.stay-tuned-box .file-format .file-format-icons i[data-v-2775696c] {
	margin-right: 9px;
}

i.icon_ai[data-v-2775696c] {
	background: url(https://www.macgf.com/img/icon-ai.svg) no-repeat 50% / 100%;
}

i.icon_sketch[data-v-2775696c] {
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url(https://www.macgf.com/img/icon-sketch.svg) no-repeat 50% / 100%;
	vertical-align: middle;
}

.stay-tuned-box .file-format .file-format-icons i[data-v-2775696c] {
	margin-right: 9px;
}

i.icon_3dMax[data-v-2775696c], i.icon_blender[data-v-2775696c] {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
i.icon_3dMax[data-v-2775696c] {
	background: url(https://www.macgf.com/img/icon-3dMax.svg) no-repeat 50% / 100%;
}

.stay-tuned-box .file-format .file-format-icons i[data-v-2775696c] {
	margin-right: 9px;
}

i.icon_c4d[data-v-2775696c], i.icon_cdr[data-v-2775696c] {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
i.icon_cdr[data-v-2775696c] {
	background: url(https://www.macgf.com/img/icon-cdr.svg) no-repeat 50% / 100%;
}

.stay-tuned-box .file-format .file-format-icons i[data-v-2775696c] {
	margin-right: 9px;
}

i.icon_c4d[data-v-2775696c] {
	background: url(https://www.macgf.com/img/icon-c4d.svg) no-repeat 50% / 100%;
}

i.icon_blender[data-v-2775696c] {
	background: url(https://www.macgf.com/img/icon-blender.svg) no-repeat 50% / 100%;
}
i.icon_3dMax[data-v-2775696c], i.icon_blender[data-v-2775696c] {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}


div#zuixinfabu {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

posts.posts-item.ajax-item.card {
	background: url(https://www.macgf.com/img/post-bj.jpg) 100% 100% no-repeat !important;
	border: 2px solid var(--main-bg-color);
	transition: all 0.2s;
}

article.article.main-bg.theme-box.box-body.radius8.main-shadow {
	background: linear-gradient(180deg, #ecf2ff, var(--main-bg-color));
	border: 2px solid var(--main-bg-color);
	box-shadow: 6px 6px 15px 0 rgb(136 167 225 / 21%), -6px -6px 15px 0 var(--main-bg-color);
	transition: all 0.2s;
}

.box-body.relative {
	background: linear-gradient(180deg, #ecf2ff, var(--main-bg-color));
	border: 2px solid var(--main-bg-color);
	box-shadow: 6px 6px 15px 0 rgb(136 167 225 / 21%), -6px -6px 15px 0 var(--main-bg-color);
	transition: all 0.2s;
}

ul.list-inline.splitters.relative ul.sub-menu{
	background: url(https://www.macgf.com/img/user-bj.jpg) 100% 100% no-repeat !important;
	border: 2px solid var(--main-bg-color);
	transition: all 0.2s;
}






